{% extends 'main.html' %}
{% block title %}PEP's Project{% endblock %}
{% block body %}
<div id="myCarousel" class="carousel slide mt-5" style="padding-top: 0.8%;" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8" aria-label="Slide 9" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9" aria-label="Slide 10" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10" aria-label="Slide 11" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img src="{{ url_for('static', filename='images/slide_1.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
        <div class="container">
          <div class="carousel-caption text-start">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_2.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_3.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_4.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_5.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_6.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_7.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_8.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_9.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_10.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/slide_11.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='images/slide_1.jpg') }}" width="80%" class="rounded-3 mx-auto d-block border border-2 border-dark"  alt="">
      </div>
    </div>
  </div>

{% endblock %}
