{% extends 'main.html' %}
{% block title %}Subscribe{% endblock %}
{% block body %}
<div class="container text-center mt-5 pt-4" style="width: 30%;">
    <main class="form-signin">
      <form method="POST">
        <h1 class="h4">Get information about new peps.</h1>

        <div class="form-floating mt-3">
          <input type="email" class="form-control" name="mail" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <button class="w-100 btn btn-lg btn-dark mt-2" type="submit">Subscribe</button>
        <p class="mt-5 mb-3 text-muted">© Pep's Project 2021</p>
      </form>
    </main>
</div>
{% endblock %}